table{
    width:100%;
    border-collapse: collapse;
}


#contener
{
    height: 600px;
    width:  1000px;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
}


#BadLoggin
{
    display: none;
    height: 200px;
    width:800px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -800px;
    background-color: red;
}

#modal {
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid #fff;
    border-radius: 20px;
    margin: 10% auto;
    padding: 10px;
    text-align: center;
    width: 400px;
}

#end{
    color:#fff;
}
.white_text
{
    color: #ffffff;
}

.white_border_left
{
    border-left-style: dotted;
    border-left-color: #f0f0f0;
}

.white_border_bottom
{
    border-bottom-style: solid;
    border-bottom-color: #f0f0f0;
}


