#result {
    width: 205px;
    height: 100px;
    float:left;
}

#menu
{
    width: 520px;
    height: 100px;
    float:left;
}

#upgrade
{
    width: 280px;
    height: 100px;
    float:left;
}

#divers {

    width: 205px;
    height: 450px;
    float:left;
}

#main{
    width: 520px;
    height: 450px;
    float:left;
}

#farmer{
    width: 280px;
    height: 450px;
    float:left;
}

.boxBorder{
    border-style: double;
    border-width: 2px;
    border-color: #23527c;
}

.box
{
    position: relative;
    display: inline-block;
}
#gauche{
    width:205px;
    height: 450px;
    float:left;
}
#centre{
    width: 520px;
    height: 450px;
    float:left;
}
#droite{
    width:205px;
    height: 450px;
    float:left;
}
#jeu{
    width: 1080px;
    height: 550px;
    border: 2px black;
    margin-left: 130px;
    margin-top: 50px;
}
#pepite{
    width:195px;
    margin-top:5px;
}
.iconFarmer{
    margin-left:10px;
    float:left;
    width:50px;
}
.farmer{
    width:272px;
    height: 70px;
    border:solid 4px black;
}
.lvlFarmer{
    float:right;
    margin-right:5px;
}